__pycache__/
/django-env/
.idea
/ratenyu/db.sqlite3
/ratenyu/ratenyu/db.sqlite3
/ratenyu/static/admin
.env
.DS_store
.coverage
/ratenyu/courses/migrations/
/ratenyu/professors/migrations/

.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
