option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "ratenyu.settings.dev"
    PYTHONPATH: "/var/app/current/ratenyu/ratenyu:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: ratenyu.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: ratenyu/static

container_commands:
  01_makemigrations:
    command: "source /var/app/venv/*/bin/activate && python3 ratenyu/manage.py makemigrations --noinput"
    leader_only: true
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 ratenyu/manage.py migrate --noinput"
    leader_only: true
  03_createsu:
    command: "source /var/app/venv/*/bin/activate && python3 ratenyu/manage.py createsu"
    leader_only: true
  04_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 ratenyu/manage.py collectstatic --noinput"
  05_loaddata:
    command: "source /var/app/venv/*/bin/activate && python3 ratenyu/manage.py load_data"
