/* Generic */
* {
  font-family: inter-regular;
}

/* For navbar   */


/*nav bar class*/
.navbar {
  background: #702B9D;
  overflow: hidden;
  margin: -0.1%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100.5%;
  z-index: 1;
}

/*navbar links*/
.navbar a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 110px;
  height: 60px;
}

.navbar-user {
  float: left;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 60px;
}

/*navbar links hover*/
.navbar a:hover {
  background-color: black;
  color: #FFFFFF;
}

/*to style RateNYU in upper left*/
.title {
  font-size: 20px;
  font-family: inter-semibold;
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10px 0 30px;
  width: 100px;
  height: 60px;
}

/*to put login button on upper right of navbar*/

.navbar-right {
  float: right;
  padding-right: 5px;
}

/*li a {*/
/*  display: block;*/
/*  color: white;*/
/*  text-align: center;*/
/*  !*padding: 14px 16px;*/
/*  text-decoration: none;*!*/
/*}*/

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

/* For search page */

h1.welcome {
  font-size: 75px;
  /*font-size: 3.5vw;*/ /* uncomment for text resizing */
  color: black;
  display: flex;
  justify-content: center;
  padding-top: 150px;
  line-height: 40%;
}

h1, h2, h3 {
  font-family: inter-semibold;
  font-weight: 700;
}

h2.welcome {
  font-size: 35px;
  /*font-size: 2.0vw;*/ /* uncomment for text resizing */
  color: black;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

/* Align index page search bar in center */
.searchbar {
  text-align: center;
}

form.search {
  display: inline-block;
  flex-wrap: nowrap;
  width: 50%;
  padding-bottom: 50px;
}

.dropdown {
  width: 25%;
  font-size: 18px;
  background: #FFFFFF;
  cursor: pointer;
  border: 1px solid darkgrey;
  border-radius: 4px;
  padding: 7px;
}

.nyu-logo {
  position: fixed;
  width: 50%;
  height: 40%;
  display: block;
  background-position: center;
  margin-left: 25%;
  background-image: url('/static/images/nyulogo.png');
  background-size: 100% 100%;
  pointer-events: none;
}

.nyu-logo-light {
  position: fixed;
  width: 50%;
  height: 40%; 
  display: block;
  background-position: center;
  margin-left: 5.3rem;
  margin-top: 10rem;
  background-image: url('/static/images/nyu-logo-light.png');
  background-size: 100% 100%;
  pointer-events: none;
}

.nyu-logo-light {
  position: fixed;
  width: 50%;
  height: 40%;
  display: block;
  background-position: center;
  margin-left: 5.3rem;
  margin-top: 10rem;
  background-image: url('/static/images/nyu-logo-light.png');
  background-size: 100% 100%;
  pointer-events: none;
}


input {
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 7px;
}

input.search {
  font-size: 18px;
  width: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

button {
  background: #702B9D;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  border: 1px solid darkgrey;
  border-radius: 4px;
  padding: 7px;
}

/* For Detail Pages */

ul.detail-left-section {
  font-size: 15px;
  position: absolute;
  top: 95px;
  margin-left: 0px;
  padding-left: 10px;
  list-style: none;
  text-align: left;
  z-index:-1;
}

ul.detail-side-links {
  float:left;
  display: inline;
  text-align: left;
  margin-bottom: 10px;
  padding-left: 20px;
  list-style: none;
  overflow-wrap: break-word;
  width:120px;
}

.detail-side-links > li {
  padding-bottom: 20px;
}

/*format name and average rating to be in middle of page with appropriate font size*/
.detail-title {
  margin: 0 auto;
  font-size: 30px;
  display: flex;
  width: 70%;
  justify-content: space-between;
  padding: 50px;
}

/* Add spacing between detail name and detail rating */
.detail-name {
  margin-right: 15px;
}

/*format course id and number of reviews to be right under name and average rating in a smaller font*/
.detail-sub-title {
  margin: -110px auto 50px auto;
  font-size: 15px;
  display: flex;
  width: 70%;
  justify-content: space-between;
}

/*format course description to be right under subtitle*/
.detail-sub-course-desc {
  margin: -50px auto 50px auto;
  width: 70%;
  text-align: left;
}


/*put the dropdown for sorting under the name title, course id, course description, */
.detail-dropdown {
  margin: auto;
  display: block;
  width: 70%;
  text-align: left;
  font-size: 10px;
}

/*set appropriate width for the dropdown to fit all the text*/
#detail-dropdown {
  width: 200px;
  font-size: 14px;
}

/*put reviews in middle of page under drop down*/
.all-reviews {
  margin: auto;
  width: 70%;
  text-align: left;
}

div.review {
  display: flex;
}

.review > p {
  margin-right: 20px;
}


/*review takes up 10/11 of width; grade, review date, rating take up 1/11*/
div.review > p:nth-of-type(2) {
  flex: 10;
}

/*bold the title section of each review*/

.error-page {
  margin-top: 130px;
  text-align: center;
}
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #0a86e7;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 3px;
  bottom: 3px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

ul.result-side-links {
  float:left;
  display: inline;
  text-align: left;
  margin-bottom: 10px;
  padding-left: 20px;
  list-style: none;
  overflow-wrap: break-word;
  width:150px;
}

.result-side-links > li {
  padding-bottom: 20px;
}

/*put the dropdown for sorting under the name title, course id, course description, */
.result-dropdown {
    display: block;
    width: 70%;
    text-align: left;
    font-size: 14px;
    margin-bottom: -50px;
}

/*set appropriate width for the dropdown to fit all the text*/
#result-dropdown {
  width: 200px;
  font-size: 14px;
}

/* Login & Registration*/
.register-page {
  text-align: center;
}

p.register{
  text-align: center;
}

h2.register {
  font-size: 35px;
  /*font-size: 2.0vw;*/ /* uncomment for text resizing */
  color: black;
  display: flex;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 15px;
  line-height: 40%;
}

h3.register{
    font-size: 35px;
  /*font-size: 2.0vw;*/ /* uncomment for text resizing */
  color: black;
  display: flex;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 15px;
  line-height: 40%;
}

form.register {
  display: inline-block;
  flex-wrap: nowrap;
  width: 20%;
}

input.register {
  font-size: 18px;
  display: inline-block;
  width: 94%;
  height: 30px;
  size: 1000px;
  margin-bottom: 10px;
}

.register-input {
  font-size: 18px;
  display: inline-block;
  width: 94%;
  height: 30px;
  size: 1000px;
  margin-bottom: 10px;
}

button.register {
  width: 99%;
  height: 42px;
}

.dropdown-register {
  font-size: 18px;
  background: #FFFFFF;
  cursor: pointer;
  border: 1px solid darkgrey;
  border-radius: 4px;
  padding: 7px;
  width: 99%;
  height: 42px;
}

/* For OAuth page */
.oauth {
  margin: -50px auto 50px auto;
  width: 70%;
  text-align: center;
}

h2.oauth-title {
  font-size: 35px;
  /*font-size: 2.0vw;*/ /* uncomment for text resizing */
  color: black;
  display: flex;
  justify-content: center;
  padding-top: 200px;
  line-height: 40%;
}

p.oauth-description {
  font-size: 18px;
  padding-bottom: 15px;
  display: inline-block;
  width: 50%;
}

button.oauth-button {
  text-align: right;
  color: black;
  width: 17%;
  padding: 10px;
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png') no-repeat left;
  background-size: 24px;
  background-origin: content-box;
}

.error-page {
  margin-top: 130px;
  text-align: center;
}

.error-page > h1{
  font-size: 50px;
}

.error-page > h2{
  font-size: 25px;
}
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #0a86e7;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 3px;
  bottom: 3px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

ul.result-side-links {
  float:left;
  display: inline;
  text-align: left;
  margin-bottom: 10px;
  padding-left: 20px;
  list-style: none;
  overflow-wrap: break-word;
  width:150px;
}

.result-side-links > li {
  padding-bottom: 20px;
}

span.rev-title, span.left-section {
  font-family: inter-bold;
}

/*put the dropdown for sorting under the name title, course id, course description, */
.result-dropdown {
    display: block;
    width: 70%;
    text-align: left;
    font-size: 14px;
    margin-bottom: -50px;
}

/*set appropriate width for the dropdown to fit all the text*/
#result-dropdown {
  width: 200px;
  font-size: 14px;
}

/*set appropriate area for the left panel on user profile*/
.user-panel{
  position: fixed;
  width: 264px;
  height: auto;
  left: 0px;
  top: 6%;
  bottom: 0px;
  background: #350554;
  /* mix-blend-mode:multiply; */
}

/*set the user details area in user panel*/
.user-details{
position: absolute;
width: 217px;
height: 49px;
left: 24px;
top: 45px;
font-size: 28px;
line-height: 20px;
text-align: center;
color: white;
}

/*set appropriate area for the user form*/
.user-form{
  width: 200px;
  height: 20%;
  left: 24px;
  margin-top: 70%;
  text-align: center;
}

/*set appropriate area for the heading on user profile*/
h4.user-form {
  font-size: 15px;
  margin-left: 30px;
  margin-bottom: -13%;
  margin-top: 15%;
  color: white;
  text-align: left;
}

/*set appropriate font and settings for the values of user profile*/
.user-form > p{
  font-size: 14px;
  width: 200px;
  height: 15%;
  margin-top: 8%;
  margin-left: 30px;
  border: 1px solid white;
  border-radius: 4px;
  background: #350554;
  color: white;
  padding-top: 5%;
}

/*set appropriate button settings for edit profile button*/
button.user-form{
  box-sizing: border-box;
  position: absolute;
  width: 186px;
  height: 40px;
  margin-top: 4%;
  margin-bottom: 10px;
  margin-left: 4%;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 4px;

}

span.user-title {
  font-family: inter-bold;
}

/*set appropriate settings for edit profile button*/
.user-reviews {
  margin-top: 7rem;
  margin-left: 20rem;
  width: 70%;
  text-align: left;
}

div.user-review {
  display: flex;
}

.user-review > p {
  margin-right: 20px;
}


/*review takes up 10/11 of width; grade, review date, rating take up 1/11*/
div.user-review > p:nth-of-type(2) {
  flex: 10;
}

.add-reviews{
  display: flex;
  justify-content: center;
}

.add-reviews-status {
  text-align: center;
}

.add_review_label {
  display:inline-block;
  width: 200px;
  /*margin-right: 30px;*/
  text-align: right;
  margin: 0px auto;
  padding-right: 30px;
}

#add_review_label2 {
  vertical-align: top;
  height: 200px;
}

.add_review_input {
  border:none;
  width:200px;
  margin:0px auto;
}

.add_review_submit {
  background: #702B9D;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  border: 1px solid darkgrey;
  border-radius: 4px;
  padding: 7px;
}

.add_review_textarea {
  border:none;
  margin:0px auto;
  width: 400px;
  height: 200px;
}

/*set the default color of the stars*/
.star-rating{
    color: #bebebe;
    font-size:2em;
    display: inline;
}
/*create the star*/
.my-star::before{
    content:"\002605";
}
/*remove the default style (italic) of the star*/
.my-star{
    font-style: unset !important;
}
/*set active star color*/
.is-active{
    color:#702B9D;
}
/*set color on hover*/
.my-star:not(.is-active):hover{
    color: #702B9D;
}

/* Fonts */

@font-face {
  font-family: 'inter-bold';
  src: Local('Inter-Bold'), url('/static/fonts/Inter-Bold.ttf') format("truetype");
}

@font-face {
  font-family: 'inter-regular';
  src: Local('Inter-Bold'), url('/static/fonts/Inter-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'inter-medium';
  src: Local('Inter-Bold'), url('/static/fonts/Inter-Medium.ttf') format("truetype");
}

@font-face {
  font-family: 'inter-black';
  src: Local('Inter-Bold'), url('/static/fonts/Inter-Black.ttf') format("truetype");
}

@font-face {
  font-family: 'inter-light';
  src: Local('Inter-Bold'), url('/static/fonts/Inter-Light.ttf') format("truetype");
}

@font-face {
  font-family: 'inter-semibold';
  src: Local('Inter-Bold'), url('/static/fonts/Inter-SemiBold.ttf') format("truetype");
}
