/* Generic */
* {
  font-family: inter-regular;
}

body {
  background-color: #EEE6F3;
  line-height: 1.5;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 16px;
}

a {
  color: #0d6efd;
}

/* For navbar   */
/*nav bar class*/
.navbar {
  background: #702B9D;
  overflow: hidden;
  margin: -0.1%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100.5%;
  z-index: 1;
}

/*navbar links*/
.navbar a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 110px;
  height: 60px;
}

.navbar a.title {
  font-size: 20px;
}

.navbar-user {
  float: left;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 60px;
}

/*navbar links hover*/
.navbar a:hover {
  background-color: black;
  color: #FFFFFF;
}

/*to style RateNYU in upper left*/
.title {
  font-family: inter-semibold;
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10px 0 30px;
  width: 100px;
  height: 60px;
}

/*to put login button on upper right of navbar*/

.navbar-right {
  float: right;
  padding-right: 5px;
}

/*li a {*/
/*  display: block;*/
/*  color: white;*/
/*  text-align: center;*/
/*  !*padding: 14px 16px;*/
/*  text-decoration: none;*!*/
/*}*/

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

/* For search page */

h1.welcome {
  font-size: 75px;
  color: black;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

h1, h2, h3 {
  font-family: inter-semibold;
  font-weight: 700;
}

h2.welcome {
  font-size: 35px;
  color: black;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

/* Align index page search bar in center */
.searchbar {
  text-align: center;
}

form.search {
  display: inline-block;
  flex-wrap: nowrap;
  width: 750px;
  padding-bottom: 50px;
}

.dropdown {
  width: 175px;
  margin: auto;
  display: inline-block;
  font-size: 18px;
  background: #FFFFFF;
  cursor: pointer;
  border: 1px solid darkgrey;
  border-radius: 4px;
  padding: 7px;
}

.nyu-logo {
  position: fixed;
  width: 50%;
  height: 40%;
  display: block;
  background-position: center;
  margin-left: 25%;
  background-image: url('/static/images/nyulogo.png');
  background-size: 100% 100%;
  pointer-events: none;
}

.nyu-logo-light {
  position: fixed;
  width: 50%;
  height: 40%;
  display: block;
  background-position: center;
  margin-left: 5.3rem;
  margin-top: 10rem;
  background-image: url('/static/images/nyu-logo-light.png');
  background-size: 100% 100%;
  pointer-events: none;
}


input {
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 7px;
}

input.search {
  font-size: 18px;
  width: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

button {
  background: #702B9D;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  border: 1px solid darkgrey;
  border-radius: 4px;
  padding: 7px;
}

/* For Detail Pages */

ul.detail-left-section {
  font-size: 15px;
  position: absolute;
  top: 95px;
  margin-left: 0px;
  padding-left: 10px;
  list-style: none;
  text-align: left;
  z-index:-1;
}

ul.detail-side-links {
  float:left;
  display: inline;
  text-align: left;
  margin-bottom: 10px;
  padding-left: 20px;
  list-style: none;
  overflow-wrap: break-word;
  width:120px;
}

.detail-side-links > button {
  padding-bottom: 20px;
  padding-left: 0px;
  background: none;
  border: none;
  text-align: left;
  color: #0000EE;
  font-size: medium;
}

/*format name and average rating to be in middle of page with appropriate font size*/
.detail-title {
  margin: 0 auto;
  font-size: 30px;
  display: flex;
  width: 70%;
  justify-content: space-between;
  padding: 50px;
}

/* Add spacing between detail name and detail rating */
.detail-name {
  margin-right: 15px;
}

/*format course id and number of reviews to be right under name and average rating in a smaller font*/
.detail-sub-title {
  margin: -110px auto 50px auto;
  font-size: 15px;
  display: flex;
  width: 70%;
  justify-content: space-between;
}

/*format course description to be right under subtitle*/
.detail-sub-course-desc {
  margin: -50px auto 50px auto;
  width: 70%;
  text-align: left;
}


/*put the dropdown for sorting under the name title, course id, course description, */
.detail-dropdown {
  margin: auto;
  display: block;
  width: 70%;
  text-align: left;
  font-size: 10px;
}

/*set appropriate width for the dropdown to fit all the text*/
#detail-dropdown {
  width: 200px;
  font-size: 14px;
}

/*put reviews in middle of page under drop down*/
.all-reviews {
  margin: auto;
  width: 70%;
  text-align: left;
}

/* review container */
div.review {
  display: flex;
  background-color: #f5f5f8;
  border-radius: 10px;
  padding: 18px;
  font-size: 1.2rem;
  margin-bottom: 15px;
  clear: right;
}

.review > p {
  margin-right: 20px;
}

div.results{
  display: flex;
  background-color: #f5f5f8;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-bottom: 15px;
  margin-left: 15rem;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 18px;
  width: 80%
}
.results:hover {
  transition: all .1s ease-in-out;
  transform: scale(1.02);
}
/*review takes up 10/11 of width; grade, review date, rating take up 1/11*/
div.review > p:nth-of-type(2) {
  flex: 10;
  display: table;
  clear: both;
}

div.rev-col-1 {
  margin: auto;
  text-align: center;
  width: 10%;
}

div.rev-col-2 {
  float: left;
  width: 80%;
}

div.rev-col-3 {
  margin: auto;
  text-align: center;
  width: 20%;
}

div.my-course {
  background-color: #f5f5f8;
  border-radius: 10px;
  padding: 18px;
  font-size: 1.2rem;
  margin-bottom: 15px;
  overflow: auto;
}

/* review container title */
h5.rev-title {
  font-size: 20px;
  margin-block-start: 0;
  margin-block-end: 0.3em;
  font-family: inter-medium;
}

h5.rev-rating {
  font-size: 30px;
  padding-right: 14px;
  font-family: inter-light;
}

h5.good-rating {
  color: forestgreen;
}

h5.bad-rating {
  color: red;
}

h5.course-title {
  font-size: 20px;
  margin-block-start: 0;
  margin-block-end: 0.3em;
  font-family: inter-regular;
  float:left;
  color: #000000;
}

span.rev, span.left-section {
  font-family: inter-medium;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
}

p.review-date {
  font-size: 17px;
  opacity: 0.6;
  margin-bottom: 0.3rem;
}

.error-page {
  margin-top: 130px;
  text-align: center;
}
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #0a86e7;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 3px;
  bottom: 3px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

ul.result-side-links {
  float:left;
  display: inline;
  text-align: left;
  margin-bottom: 10px;
  padding-left: 20px;
  list-style: none;
  overflow-wrap: break-word;
  width:150px;
}

.result-side-links > li {
  padding-bottom: 20px;
}

span.result-side-links-header {
  font-size: 22px;
}

/*put the dropdown for sorting under the name title, course id, course description, */
.result-dropdown {
    display: block;
    width: 70%;
    text-align: left;
    font-size: 14px;
    margin-bottom: -50px;
}

/*set appropriate width for the dropdown to fit all the text*/
#result-dropdown {
  width: 200px;
  font-size: 14px;
}

/* Login & Registration*/
.register-page {
  text-align: center;
}

p.register{
  text-align: center;
}

h2.register {
  font-size: 35px;
  /*font-size: 2.0vw;*/ /* uncomment for text resizing */
  color: black;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 15px;
  line-height: 40%;
}

h3.register{
    font-size: 35px;
  /*font-size: 2.0vw;*/ /* uncomment for text resizing */
  color: black;
  display: flex;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 15px;
  line-height: 40%;
}

form.register {
  display: inline-block;
  flex-wrap: nowrap;
  width: 20%;
}

input.register {
  font-size: 18px;
  display: inline-block;
  width: 94%;
  height: 30px;
  size: 1000px;
  margin-bottom: 10px;
}

.register-input {
  font-size: 18px;
  display: inline-block;
  width: 94%;
  height: 30px;
  size: 1000px;
  margin-bottom: 10px;
}

button.register {
  width: 99%;
  height: 42px;
}

.dropdown-register {
  font-size: 18px;
  background: #FFFFFF;
  cursor: pointer;
  border: 1px solid darkgrey;
  border-radius: 4px;
  padding: 7px;
  width: 99%;
  height: 42px;
  margin-bottom: 10px;
}

/* For OAuth page */
.oauth {
  margin: -50px auto 50px auto;
  width: 70%;
  text-align: center;
}

h2.oauth-title {
  font-size: 35px;
  /*font-size: 2.0vw;*/ /* uncomment for text resizing */
  color: black;
  display: flex;
  justify-content: center;
  padding-top: 200px;
  line-height: 40%;
}

p.oauth-description {
  font-size: 18px;
  padding-bottom: 15px;
  display: inline-block;
  width: 50%;
}

/* Google button */
div.google-button {
  white-space: nowrap;
}

input.google-icon {
  width: 25px;
  float: left;
  border: 0;
  padding: 0;
  padding-right: 5px;
}

button.oauth-button {
  background-color: #EEE6F3;
  color: black;
  width: 20%;
  height: 44px;
  line-height: 130%;
  padding: 10px;
  background-size: 24px;
  background-origin: content-box;
  overflow: hidden;
}

.error-page {
  margin-top: 130px;
  text-align: center;
}

.error-page > h1{
  font-size: 50px;
}

.error-page > h2{
  font-size: 25px;
}
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #0a86e7;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/*put the dropdown for sorting under the name title, course id, course description, */
.result-dropdown {
    display: block;
    width: 70%;
    text-align: left;
    font-size: 14px;
    margin-bottom: -50px;
}

/*set appropriate width for the dropdown to fit all the text*/
#result-dropdown {
  width: 200px;
  font-size: 14px;
}

/*set appropriate area for the left panel on user profile*/
.user-panel{
  overflow:scroll;
  position: fixed;
  width: 264px;
  height: auto;
  left: 0px;
  top: 0;
  bottom: 0px;
  background: #350554;
  /* mix-blend-mode:multiply; */
}

/*set the user details area in user panel*/
.user-details{
position: relative;
width: 217px;
height: 49px;
left: 24px;
top: 45px;
padding-top: 20%;
font-size: 28px;
line-height: 20px;
text-align: center;
color: white;
}

/*set appropriate area for the user form*/
.user-form{
  width: 200px;
  /*height: 20%; Commented this because text was going out of the box while viewing profile.*/
  left: 24px;
  margin-top: 50%;
  text-align: center;
}

/*set appropriate area for the heading on user profile*/
h4.user-form {
  position: relative;
  display: inline-block;
  font-size: 15px;
  margin-left: 5%;
  margin-bottom: -15%;
  margin-top: 15%;
  color: white;
  text-align: left;
}

label.user-form{
  position: relative;
  display: inline-block;
  font-size: 15px;
  margin-left: 5%;
  margin-bottom: -15%;
  margin-top: 15%;
  color: white;
  text-align: left;
}

.edit-form{
  border: 2px solid white;
  margin-left: 28px;
  margin-top: 10px;
}

.edit-dropdown{
  position: relative;
  margin-left: 20px;
  width: 80%;
  padding: 5px;
}

.edit-profile-form{
  width: 200px;
  height: 20%;
  left: 24px;
  margin-top: 50%;
  text-align: center;
}

button.edit-profile-form{
  box-sizing: border-box;
  position: absolute;
  width: 186px;
  height: 40px;
  margin-top:20%;
  margin-bottom: 10%;
  margin-left: 1%;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 4px;

}

/*set appropriate font and settings for the values of user profile*/
.user-form > p{
  position: relative;
  font-size: 14px;
  width: 200px;
  height: 15%;
  margin-top: 0%;
  margin-left: 30px;
  border: 1px solid white;
  border-radius: 4px;
  background: #350554;
  color: white;
  padding-top: 5%;
}

/*set appropriate button settings for edit profile button*/
button.user-form{
  box-sizing: border-box;
  position: absolute;
  width: 186px;
  height: 40px;
  margin-top: 10%;
  margin-bottom: 10px;
  margin-left: 4%;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 4px;
}

a.user-form{
  box-sizing: border-box;
  position: absolute;
  width: 186px;
  height: 40px;
  margin-top: 10%;
  margin-bottom: 10px;
  margin-left: 4%;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 4px;
}

span.user-title {
  font-family: inter-bold;
}

/*set appropriate settings for edit profile button*/
.user-reviews {
  margin-top: 7rem;
  margin-left: 20rem;
  width: 70%;
  text-align: left;
}

div.user-review {
  display: flex;
}

.user-review > p {
  margin-right: 20px;
}

/*review takes up 10/11 of width; grade, review date, rating take up 1/11*/
div.user-review > p:nth-of-type(2) {
  flex: 10;
}

div.user-review > form {
  flex: 10;
  margin-left: 0;
  margin-top: 15px;
}

.add-reviews{
  display: flex;
  justify-content: center;
}

.add-reviews-status {
  text-align: center;
}

.add_review_label {
  display:inline-block;
  width: 200px;
  /*margin-right: 30px;*/
  text-align: right;
  margin: 0px auto;
  padding-right: 30px;
}

#add_review_label2 {
  vertical-align: top;
  height: 200px;
}

.add_review_input {
  border:none;
  width:200px;
  margin:0px auto;
}

.add_review_submit {
  background: #702B9D;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  border: 1px solid darkgrey;
  border-radius: 4px;
  padding: 7px;
}

/*Styling for the create account button on the registation page*/
.create_account {
  background: #702B9D;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  border: 1px solid darkgrey;
  border-radius: 4px;
  padding: 7px;
  width: 99%;
  height: 42px;
}

.add_review_textarea {
  border:none;
  margin:0px auto;
  padding: 10px;
  width: 400px;
  height: 200px;
  white-space: break-spaces;
}

/* Warning message for invalid Review Text */
h4.review_text_invalid {
  color: red;
}


/*set the default color of the stars*/
.star-rating{
    color: #bebebe;
    font-size:2em;
    display: inline;
}
/*create the star*/
.my-star::before{
    content:"\002605";
}
/*remove the default style (italic) of the star*/
.my-star{
    font-style: unset !important;
}
/*set active star color*/
.is-active{
    color:#702B9D;
}
/*set color on hover*/
.my-star:not(.is-active):hover{
    color: #702B9D;
}
.prof-star::before{
    content:"\002605";
}
/*remove the default style (italic) of the star*/
.prof-star{
    font-style: unset !important;
}
/*set active star color*/
.is-active{
    color:#702B9D;
}
/*set color on hover*/
.prof-star:not(.is-active):hover{
    color: #702B9D;
}

.edit-review-btn {
  background-color: #702B9D;
  color: white;
  font-size: 14px;
  /*height: 10px;*/
}

/* This is to disguise the Delete <a> element as a button */
.delete-review-btn {
  background-color: #702B9D;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid darkgrey;
  border-radius: 4px;
  padding: 7px;
  text-decoration: none;
}
.review-btn{
  font-size: 20px;
  width: max-content;
}

.save-course-btn {
  background-color: #702B9D;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid darkgrey;
  border-radius: 4px;
  padding: 7px;
  text-decoration: none;
  float: right;
}

.save-course-form {
    display: none;
    float: right;
    font-size:14px;
    text-align: right;
    margin-bottom: 10px;
}


.review-text-box {
  display: none;
  margin-top: -25px;
}

/*below is the css for pagination*/
.pagination{
  text-align: center;
}


/* Styling for Like/Dislike buttons */
.like,
.dislike {
  font-size: 12px;
  display: inline-block;
  cursor: pointer;
  margin: 10px;
}

.like-color {
  color: forestgreen;
}

.dislike-color {
  color: red;
}

.dislike:hover,
.like:hover {
  color: #2EBDD1;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.active {
  transform: scale(1.1);
  color: #2EBDD1;
}

a.likes {
  all: unset;
}


/* Fonts */

@font-face {
  font-family: 'inter-bold';
  src: Local('Inter-Bold'), url('/static/fonts/Inter-Bold.ttf') format("truetype");
}

@font-face {
  font-family: 'inter-regular';
  src: Local('Inter-Bold'), url('/static/fonts/Inter-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'inter-medium';
  src: Local('Inter-Bold'), url('/static/fonts/Inter-Medium.ttf') format("truetype");
}

@font-face {
  font-family: 'inter-black';
  src: Local('Inter-Bold'), url('/static/fonts/Inter-Black.ttf') format("truetype");
}

@font-face {
  font-family: 'inter-light';
  src: Local('Inter-Bold'), url('/static/fonts/Inter-Light.ttf') format("truetype");
}

@font-face {
  font-family: 'inter-semibold';
  src: Local('Inter-Bold'), url('/static/fonts/Inter-SemiBold.ttf') format("truetype");
}
