{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="register-page">
    <h2 class="register">Login</h2>
    <div class="add-reviews-status">
        {% if messages %}
            {% for message in messages %}
            <h3> {{ message }} </h3>
            {% endfor %}
        {% endif %}
    </div>
    <form class="register" action="" method="POST">
        {% csrf_token %}
        <input type="text" class="register" name="username" autofocus autocapitalize="none"
                autocomplete="username" maxlength="150" required id="id_username" placeholder="Username">
        <input type="password" class="register" name="password" autocomplete="current-password" required
                id="id_password" placeholder="Password">
                <span id="error"></span>
        <p><a href="{% url 'users:reset_password' %}">Forgot Password?</a></p>
        <button type="submit" class="register">Login</button>
        <p>Not registered yet? <a href="/accounts/google/login">Create Account</a></p>
    </form>
</div>

{% endblock %}