{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="register-page">
    <h2 class="register">Login</h2>
    <div class="add-reviews-status">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <h3> {{ message }} </h3>
                {% endif %}
            {% endfor %}
        {% endif %}

    {% if form.non_field_errors %}
        <h4 class = "review_text_invalid">Username and Password Invalid.</h4>
    {% endif %}

    </div>
    <form class="register" action="" method="POST">
        {%  csrf_token %}
        <label style="display: flex; color: rgb(116, 115, 115);">Username</label>
        <input type="text" class="register" name="username" autofocus autocapitalize="none"
                autocomplete="username" maxlength="150" required id="id_username" placeholder="Username">  
        <label style="display: flex;  color: rgb(116, 115, 115);">Password</label>
        <input type="password" class="register" name="password" autocomplete="current-password" required
                id="id_password" placeholder="Password">
        <p><a href="{% url 'users:reset_password' %}">Forgot Password?</a></p>
        <button type="submit" class="register">Login</button>
        <p>Not registered yet? <a href="/accounts/google/login">Create Account</a></p>
    </form>
</div>

{% endblock %}