{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="register-page">
	<h3 class="register">Enter new password</h3>

	<form method="post" class="register">
		{% csrf_token %}
		<input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1"
				placeholder="New Password" class="register">
		<input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2"
				placeholder="Confirm New Password" class="register">
		<button type="Submit" class="register">Submit</button>
	</form>
</div>

{% endblock %}