{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class = "user-panel" id="profile_div">
    <h1 class = "user-details">Hello <br><br> {{user_details.user}}!</h1>
    <div class="user-form">
        <h4 class = 'user-form'> Name </h4>
        <p id='user_name'> {{user_details.name}}</p>
        <h4 class = 'user-form'> Username </h4>
        <p id="user_username"> {{user_details.user}} </p>
        <h4 class = 'user-form'> Major </h4>
        <p id="user_major" > {{user_details.major}} </p>
        <h4 class = 'user-form'> Student Status </h4>
        <p id="user_status"> {{user_details.student_status}} </p>
        <button type="submit" class="user-form" onclick="hideProfile(document.querySelectorAll('.user-panel'))" id="edit_profile">Edit Profile</button>
    </div>
</div>

<form method="POST">
    {% csrf_token %}
    <div hidden class = "user-panel" id="edit_profile_div">
        <h1 class = "user-details">Hello <br><br> {{user_details.user}}!</h1>
        <div class="user-form">
            <label for="user_name_input" class = 'user-form'> Name </label>
            <input required="True" class="edit-form" id='user_name_input' name="user_name_input" value=" {{user_details.name}}"/>
            <label for="user_username_input" class = 'user-form'> Username </label>
            <input required="True" readonly class="edit-form" id="user_username_input" name="user_username_input" value="{{user_details.user}}"/>
            <label for="user_major_input" class = 'user-form'> Major </label>
            <input required="True" class="edit-form" id="user_major_input"  name="user_major_input" value="{{user_details.major}}"/>
            <label for="user_status_input" class = 'user-form'> Student Status </label>
            <select value="user_details.student_status" name="user_status_input" class="edit-dropdown" required="" id="user_status_input">
                <option value="Freshman">Freshman</option>
                <option value="Sophomore">Sophomore</option>
                <option value="Junior">Junior</option>
                <option value="Senior">Senior</option>
                <option value="Master1">Master1</option>
                <option value="Master2">Master2</option>
                <option value="PHD">PHD</option>
            </select>
            <button type="submit" class="edit-profile-form" id="save_profile" onclick="save(document.querySelectorAll('.user-panel'))">Save</button>
        </div>
    </div>
</form>

<div class="user-reviews">
    <h1>My Reviews</h1>
    <div class="nyu-logo-light">
    </div>
    {% for review in reviews %}
    <div class="user-review">
        <p>{{ review.pub_date.month }}/{{ review.pub_date.day }}/{{ review.pub_date.year }} <br>
            {{ review.rating }}.0/5.0 </p>
        <p><span class="user-title"> Course: <a href="{% url 'courses:course_detail' course_id=review.class_id.course.course_id %}">{{ review.class_id.course.course_title }}</a>
        | Professor : <a href="{% url 'professors:professor_detail' professor_id=review.class_id.professor.professor_id %}">{{ review.class_id.professor.name }}</a></span><br>
        {{ review.review_text }}</p>
    </div>
    {% endfor %}
</div>

<script>
    function hideProfile(elements) {
        elements = elements.length ? elements : [elements];
        for (let index = 0; index < elements.length; index++) {
            elements[index].style.display = 'none';
        }
        document.getElementById('edit_profile_div').style.display = 'block'
        let input_dropdown = document.getElementById('user_status_input')
        let student_status = document.getElementById('user_status').innerHTML

        for (let i, j = 0; i = input_dropdown.options[j]; j++) {
            if (String(i.value).trim() === String(student_status).trim()) {
                input_dropdown.selectedIndex = j;
                break;
            }
        }
    }

    function save(elements){
        elements = elements.length ? elements : [elements];
        for (let index = 0; index < elements.length; index++) {
            elements[index].style.display = 'none';
        }
        document.getElementById('profile_div').style.display = 'block'
    }
</script>
{% endblock %}
