<!DOCTYPE html>
<html lang="en">
<head>
    <title>RateNYU</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%  static "css/style.css" %}">
</head>
<body style="background: #EEE6F3">
{% include 'navbar.html' %}

<script type="text/javascript" src="{% static 'javascript/script.js' %}"></script>
</body>
</html>

{% block content %}

<div class="register-page">
    <h2 class="register">Complete Registration</h2>
    <form class="register" action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div>
            <div>{{ field }}</div>
            {% for error in field.errors %}
            <small style=" color: red">{{ error }}</small>
            {% endfor %}
        </div>
        {% endfor %}
        <br>
        <button class="register" type="submit">Create Account</button>
    </form>
</div>

{% endblock %}