<!DOCTYPE html>
<html lang="en">
<head>
    <title>RateNYU</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%  static "css/style.css" %}">
    <link rel="icon" href="{% static "images/ratenyulogo.png"%}">

</head>
<body>
    {% if user.is_authenticated %}
        {% include 'navbar2.html' %}
    {% else %}
        {% include 'navbar.html' %}
    {% endif %}

    {% block content %}
    {% endblock %}

    <script type="text/javascript" src="{% static 'javascript/script.js' %}"></script>
</body>
</html>
