<style>
    .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #0a86e7;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 3px;
  bottom: 3px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

ul.result-side-links {
  float:left;
  display: inline;
  text-align: left;
  margin-bottom: 10px;
  padding-left: 20px;
  list-style: none;
  overflow-wrap: break-word;
  width:150px;
}

.result-side-links > li {
  padding-bottom: 20px;
}

span.rev-title, span.left-section {
  font-family: inter-bold;
}

/*put the dropdown for sorting under the name title, course id, course description, */
.result-dropdown {
    display: block;
    width: 70%;
    text-align: left;
    font-size: 14px;
    margin-bottom: -50px;
}

/*set appropriate width for the dropdown to fit all the text*/
#result-dropdown {
  width: 200px;
  font-size: 14px;
}
</style>

{% extends 'base.html' %}

{% block content %}
<div class="detail-title">
    <h1 class="detail-name">Course Results for '{{query}}'</h1>
</div>

<ul class="result-side-links">
    <li class="result-side-links"><span class="rev-title">Program</span></li>

    <label class="container">Undergraduate
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
    </label>

    <label class="container">Graduate
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
    </label>

    <!-- <li class="result-side-links"><span class="rev-title">Department</span></li>
    <div class="result-dropdown">
        <form class="search"  method="GET" action="">
            <select class="dropdown" id="detail-dropdown">
                <option value="RevDateDesc">CS</option>
                <option value="RevDateDesc">CE</option>
                <option value="RevDateDesc">MAT</option>
                <option value="RevDateDesc">EE</option>
            </select>
        </form>
    </div> -->

    <li class="result-side-links"><span class="rev-title">Last Offered</span></li>

    <label class="container">2022
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
    </label>
    <label class="container">2021
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
    </label>
</ul>

{% for i in courses %}

<div class="detail-sub-course-desc">
    <p style="margin-bottom:0;"> <a href=/courses/{{i.course_id}}>{{i.course_title}} : {{ i.course_subject_code }} {{ i.catalog_number }}</a> ({{i.reviews_avg}}/5.0 | {{i.reviews_list|length}} Reviews)</p>
    <p style="margin : 0; padding-top:0;">{{ i.course_description }} </p>
    <br>

</div>

{% endfor %}


{% endblock %}



