{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<h1 class="welcome">Welcome to RateNYU {{ user.username }}!</h1>
{% else %}
<h1 class="welcome">Welcome to RateNYU!</h1>
{% endif %}


<h2 class="welcome">Search for reviews by course name, course id, or professor name.</h2>

<div class="searchbar">
    <form class="search" method="GET" action="search">
        <select class="dropdown" name="search_by">
            <option value="CourseID">Course ID</option>
            <option value="CourseName">Course Name</option>
            <option value="ProfessorName">Professor Name</option>
        </select>
        <input type="text" class="search" name="query" placeholder="Start Typing">
        <button type="submit" class="search">Search!</button>
    </form>
</div>

<div class="nyu-logo">
</div>

{% endblock %}