{% extends 'base.html' %}

{% block content %}
{% if professors %}
<div class="detail-title2">
    <h1 class="detail-name">Professor Results for '{{query}}'<br>({{professors|length}} results found)</h1><br>
    <h1 class="detail-name"></h1>
</div>

<ul class="result-side-links">
    <!-- <li class="result-side-links"><span class="rev-title">Program</span></li>

    <label class="container">Undergraduate
        <input id="UY" type="checkbox" checked="checked" onclick="resultCheckBoxClicked()">
        <span class="checkmark"></span>
    </label>

    <label class="container">Graduate
        <input id="GY" type="checkbox" checked="checked" onclick="resultCheckBoxClicked()">
        <span class="checkmark"></span>
    </label> -->

    <!-- <li class="result-side-links"><span class="rev-title">Department</span></li>
    <div class="result-dropdown">
        <form class="search"  method="GET" action="">
            <select class="dropdown" id="detail-dropdown">
                <option value="RevDateDesc">CS</option>
                <option value="RevDateDesc">CE</option>
                <option value="RevDateDesc">MAT</option>
                <option value="RevDateDesc">EE</option>
            </select>
        </form>
    </div> -->

   <!-- ><li class="result-side-links"><span class="rev-title">Last Offered</span></li>

    <label class="container">2022
        <input id="2022" type="checkbox" checked="checked" onclick="resultCheckBoxClicked()">
        <span class="checkmark"></span>
    </label>
    <label class="container">2021
        <input id="2021" type="checkbox" checked="checked" onclick="resultCheckBoxClicked()">
        <span class="checkmark"></span>
    </label> -->
</ul>

{% for professor in page_obj %}

<div class="results"  onclick="location.href='/professors/{{professor.professor_obj.professor_id}}';" style="cursor:pointer;">
    <a href=/professors/{{professor.professor_obj.professor_id}}></a>
    <div class="rev-col-1" style="margin-left:1rem; margin-right:1rem;">
        {% if professor.reviews_list|length == 0 %}
        <h5 class="rev-rating">N/A</h5>
        {% else %}
            {% if professor.reviews_avg > 2.5 %}
            <h5 class="rev-rating good-rating">{{ professor.reviews_avg }} / 5</h5>
            {% else %}
            <h5 class="rev-rating bad-rating">{{ professor.reviews_avg }} / 5</h5>
            {% endif %}
        {% endif %}
    </div>

    <div class="rev-col-2">
        <span class="rev">
        <h5 class="rev-title" style="color:#0a86e7;">
            {{professor.professor_obj.name}}
        </h5>
        <p class="review-date">{{professor.reviews_list|length}} Reviews</p>

        {% if professor.courses|length > 0 %}
            <p class="results_title">Courses Taught:</p>
                   <p> {% for c in professor.courses %}
                        {{ c.course_title|title }}{% if not forloop.last %}, {%endif%}
                    {% endfor %}</p>
        {% else %}
            <p class="results_title">No Courses Found</p>
        {%endif%}

        </span>
    </div>
</div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?search_by=ProfessorName&query={{query}}&page=1">&laquo; first</a>
            <a href="?search_by=ProfessorName&query={{query}}&page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?search_by=ProfessorName&query={{query}}&page={{ page_obj.next_page_number }}">next</a>
            <a href="?search_by=ProfessorName&query={{query}}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% else %}

<div class="detail-title">
    <h1 class="detail-name">No Results Found for '{{query}}'</h1>
</div>

{% endif %}
{% endblock %}
